{% extends 'base.html' %}
{% load static %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<title>Agregar</title>
</head>
<body>
    <div class="div1">
        <div class="container">
            <div class="div2">
                <div class="form-container">
                    <p>Post ID: {{ post.id }}</p>
                    <h1>Agregar una nueva pregunta para el post:</h1>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.description }}</p>
                    <form action="{% url 'polls:createnew' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        <input type="text" name="question_text" placeholder="Pregunta..." required>
                        
                        <h6>Agrega las opciones:</h6>
                        <input type="text" name="new_choice_1" placeholder="Opción 1" required>
                        <input type="text" name="new_choice_2" placeholder="Opción 2" required>
                        <input type="text" name="new_choice_3" placeholder="Opción 3" required>
            
                        <button type="submit">Guardar Pregunta</button>
                        
                        <a style="color: rgb(0, 234, 255);" href="{% url 'polls:index' %}">Volver al inicio</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}