{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <title>Votaciones</title>
</head>
<body>
    
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.description }}</p>
        <h3>Responde Segun Corresponda</h3>
        <fieldset>
            <legend><h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
            <h2>{{ question.title }}</h2>
            <p>{{ question.description }}</p>
           <h1>{{ question.question_text }} </h1></legend>
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            {% for choice in question.choice_set.all %}
                <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" style="vertical-align: middle;">
                <label for="choice{{ forloop.counter }}" style="vertical-align: middle;">{{ choice.choice_text }}</label><br>
            {% endfor %}
           <!-- <input type="text" name="name" id="name" placeholder="Ingresa tu nombre" required
            style="margin: 20px;">-->
        </fieldset>
        <input type="submit" value="Vota" style="width: 90px; margin-top: 15px;" >
        <div>
             <a class="abc" style="color: rgb(0, 234, 255);" href="{% url 'polls:index' %}">Volver al inicio</a>
        </div>
    </form>

</body>
</html>
{% endblock %}