{% extends 'base.html' %}

{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body style="background-color: #090909;">
	
    {% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4" style="padding-top: 20px; color: #3d5866;">Mis Publicaciones</h1>
    
        {% if is_admin %}
            <p>Bienvenido, administrador.</p>
        {% else %}
            <p>Bienvenido, usuario</p>
        {% endif %}
    
        {% for post in posts %}
        <div class="card mb-4">
            <div class="card-body p-4">
                <div class="justify-content-md-end">
                    <h2 class="card-title">{{ post.title }}  
                        <span class="badge bg-success" style="font-size: 0.4em; position: absolute; right: 10px;">{{ post.category }}</span>
                    </h2>
                </div>
                <p class="card-text mt-3">{{ post.content }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" class="img-fluid mb-3" alt="Imagen de {{ post.title }}">
                {% endif %}
                <small class="text-muted">Publicado el {{ post.published_at | date:"d M, Y" }} por {{ post.author | title }}</small>
    
                <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="margin-top: 20px;">
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i>Ver Publicación</a>
                    {% if request.user.is_authenticated and (is_admin or request.user == post.author) %}
                        <a href="{% url 'post-edit' post.id %}" class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Editar</a>
                        <form method="POST" action="{% url 'post-delete' post.id %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash"></i>Eliminar</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>