{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if id %} Editar {% else %} Nuevo {% endif %} Post</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body class="d-flex align-items-center" style="min-height: 100vh;">
    <div class="container my-5">
        {% block content %}
        <h2 class="text-center mb-4">{% if id %} Editar {% else %} Nuevo {% endif %} Post</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
        {% endblock content %}
    </div>
</body>
</html>
